extends ../layout/index

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center.text-azulMunsell Bienes 
            span.font-normal.text-azulPrusia Raíces  
        h2.text-center.text-2xl.font-extrabold.text-azulClaro= pagina

    div(class="bg-blanco shadow py-8 px-4 rounded-lg max-w-md mx-auto") 
        p(class= error ? 'bg-error' : 'bg-azulClaro').py-2.px-5.rounded-lg.w-full.font-bold.text-center.text-white.uppercase= mensaje

        if !error
            a(href="/auth/login" class="text-center font-bold text-sm text-azulPrusia uppercase mt-10 block") Ya puedes Iniciar Sesión

